<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    
    <main>
      <div class="container">
        <header>
          
        </header>
        <div class="top">
          <img class="header" src="/static/images/header.png" />
        </div>
        <div class="content">
          <div class="info">
            <h2>Treats and fun</h2>
            <nav>
              <navItem>
                <a href="#">one</a>
              </navItem>
              <navItem>
                <a href="#">two</a>
              </navItem>
              <navItem>
                <a href="#">three</a>
              </navItem>
              <button>yes</button>
            </nav>
          </div>
          
          <div class="grid">
            <div class="item-holder">
              <div class="item">
                <img src="static/images/smoothie.png" />
                <div class="label">smoothie</div>
              </div>
            </div>
            <div class="item-holder">
              <div class="item">
                <img src="static/images/grapefruit.png" />
                <div class="label">grapefruit</div>
              </div>
            </div>
            <div class="item-holder">
              <div class="item">
                <img src="static/images/dessert.png" />
                <div class="label">dessert</div>
              </div>
            </div>
            <div class="item-holder">
              <div class="item">
                <img src="static/images/strawberry.png" />
                <div class="label">strawberry</div>
              </div>
            </div>
            <div class="item-holder">
              <div class="item">
                <img src="static/images/unknown.png" />
                <div class="label">label</div>
              </div>
            </div>
            <div class="item-holder">
              <div class="item">
                <img src="static/images/icecream.png" />
                <div class="label">icecream</div>
              </div>
            </div>
            <div class="item-holder">
              <div class="item">
                <img src="static/images/unknown2.png" />
                <div class="label">label</div>
              </div>
            </div>
            <div class="item-holder">
              <div class="item">
                <img src="static/images/mysteryfruit.png" />
                <div class="label">label</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
