<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./doctor-description.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="doctor-description">
      <img
        class="doctor-description-child"
        alt=""
        src="./public/rectangle-7@2x1.png"
      /><img
        class="doctor-description-child"
        alt=""
        src="./public/rectangle-7@2x1.png"
      /><img
        class="doctor-description-inner"
        alt=""
        src="./public/rectangle-61.svg"
      /><img
        class="doctor-description-child1"
        alt=""
        src="./public/rectangle-1@2x1.png"
      /><img
        class="doctor-description-child2"
        alt=""
        src="./public/rectangle-3@2x.png"
      />
      <div class="rectangle-parent">
        <div class="rectangle-div"></div>
        <div class="logo-group">
          <button class="logo1"></button
          ><button class="iconsaxboldcategory">
            <img
              class="vector-icon3"
              alt=""
              src="./public/vector3.svg"
            /></button
          ><img class="vector-icon4" alt="" src="./public/vector4.svg" /><img
            class="vector-icon5"
            alt=""
            src="./public/vector5.svg"
          />
        </div>
        <div class="image-4-parent">
          <button class="image-41"></button
          ><img class="vector-icon6" alt="" src="./public/vector6.svg" />
        </div>
        <div class="iconsaxbolduser"></div>
        <button class="iconsaxboldlogoutcurve">
          <img class="vector-icon7" alt="" src="./public/vector7.svg" /><img
            class="vector-icon8"
            alt=""
            src="./public/vector8.svg"
          /></button
        ><button class="iconsaxboldnotification">
          <img class="vector-icon9" alt="" src="./public/vector9.svg" />
        </button>
        <div class="iconsaxboldprofile"></div>
        <input class="rectangle-input" type="text" /><input
          class="frame-child1"
          type="text"
        />
        <div class="pune"><p class="upper-pune">Pune</p></div>
        <img class="image-12-icon" alt="" src="./public/image-12@2x.png" /><img
          class="image-13-icon"
          alt=""
          src="./public/image-13@2x.png"
        />
        <div class="gynecologist">Gynecologist</div>
        <img class="frame-child2" alt="" src="./public/rectangle-10@2x.png" />
        <div class="dr-abc-def-container">
          <p class="dr-abc-def">Dr. ABC DEF</p>
          <p class="gynecologist1">
            <span><span class="gynecologist2">Gynecologist</span></span>
          </p>
          <p class="upper-pune">
            <span><span class="upper-pune1">Upper, Pune</span></span>
          </p>
          <p class="upper-pune">
            <span><span class="upper-pune1">Clinic Name</span></span>
          </p>
          <p class="upper-pune">
            <span><span class="upper-pune1">690 per hr</span></span>
          </p>
          <p class="upper-pune">
            <span><span class="upper-pune1">&nbsp;</span></span>
          </p>
          <p class="upper-pune">
            <span><span class="upper-pune1">&nbsp;</span></span>
          </p>
          <p class="upper-pune">
            <span
              ><span class="storydr-mohan-is"
                >(Story)Dr. Mohan is highly experienced in Skin, Hair and laser
                practices in Pune. After completing his MBBS, MD, DDV Dr. Mohan
                has been practicing for over 6 years and associated with Apollo
                Clinic, AIHT, Rising Medicare Hospital. Dr. Mohan has honed his
                skills from all over globe receiving extensive training in where
                advance methods of Skin and Sexual Healthcare. Dr. Mohan has
                treated varied patients and taught doctors throughout the
                country in the use of these cutting-edge technologies and
                surgeries. He has also got specialization in Paediatric
                Dermatology. [shrink]</span
              ></span
            >
          </p>
        </div>
        <img class="logout-icon" alt="" src="./public/logout1@2x.png" />
        <div class="frame-child3"></div>
        <div class="book-appointment">Book Appointment</div>
      </div>
    </div>
  </body>
</html>
